$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
.fa {
    margin-right: 5px;
}
.fa-forbidden {
    &:before {
        color: red;
    }
}
.fa-approved {
    &:before {
        color: green;
    }
}

.fa-border {
    background-color: white;
}
